*{
  padding: 0;
  margin: 0;
}

.product-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}


.product-container div{
    width: 180px;
    padding: 8px;
}

@media (min-width: 0px) {
  .css-1t6c9ts {
      display: flex !important;
  }
}