/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: linear-gradient(0deg, rgba(172, 217, 63, 1) 0%, rgba(218, 141, 39, 1) 50%, rgba(253, 139, 45, 1) 100%);
}

header {
    background-color: #333;
    color: white;
    padding: 35px 0;
}

header h1 {
    text-align: center;
}

.logo-header{
    width: 100px;
    position: absolute;
    left: 42%;
    top: 22%;
}

.logo-arrow{
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    filter: drop-shadow(1px 3px 6px black);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 10px 16px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 3px 2px 2px 2px white;
    transition: color 0.3s border 0.3s;
}

nav ul li:hover {
    box-shadow: 3px 2px 2px 2px red;
    border: 1px solid red;

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: red;
}

main {
    padding-top: 20px;
}

section {
    padding: 12px 10px;
}

section h2, section p, section ul, h3 {
    text-align: center;
    color: #333;
}

.services-img {
    width: 100%;
    margin: auto;
}

#grid{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

#grid div{
    padding: 10px;
    border: black 2px solid;
    border-radius: 8px;
    background: white;
    filter: drop-shadow(5px 4px 4px black);
    transition: all 0.5s;
    opacity: 0.7;
    position: relative;
}

#grid div:hover{
    scale: 1.05;
    opacity: 1;
}

#grid div img.sticker{
    width: 25%;
    position: absolute;
    top: 1px;
    left: 0px;
}

form {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input, form textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 12px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 5px 10px;
    width: 90%;
}

form button:hover {
    background-color: #555;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-delete {
    background-color: rgb(173, 22, 22);
}

.button-delete:hover {
    background-color: rgb(118, 13, 13);
}

.example-item{
    padding: 20px 0
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* media queries */

/* De 425px en adelante */
@media screen and (min-width: 425px){
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Desde 0 hasta 425 */
@media screen and (max-width: 425px){
    nav ul li{
        box-shadow: 3px 2px 2px 2px white;
    }
}

/* Desde 360px en adelante de altura */
@media screen and (min-width: 768px){

    form button {
        width: 100px;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Intervalo entre 300px y 400px */
/* @media screen and (min-width: 300px) and (max-width: 400px) and (orientation: portrait) {
    section p{
        color: red
    }
} */

/* @media screen and (min-width: 300px) and (max-width: 400px) and (orientation: landscape){
    section p{
        color: violet
    }
} */

@media screen and (min-width: 615px){
    .services-img {
        width: 100%;
        margin: auto;
    }

    #grid div{
        width: 35%;
    }

    #grid{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (min-width: 400px){
    form {
        width: 65%;
    }
}

@media screen and (min-width: 1020px){
    form {
        width: 35%;
    }
}